<div class="d-flex border-top py-5 justify-content-between">
    <div>
        Slow Heat Index
    </div>
    <div>
        <a class="link-fancy" href="/contact">About</a>
        <a class="link-fancy" href="/contact">Contact</a>
    </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
