<div class="d-flex py-2 justify-content-center align-items-center">
    <a class="footer-brand" href="#">
        <img src="/img/logo.png" width="30px" alt="Home">
        Slow Heat Index
    </a>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
<script>
    feather.replace()
</script>
