<div id="about" class="about-container">
    <h2 class="text-center about-title">
        THE TEAM
    </h2>

    <div class="container py-vh-2">
        <div class="row justify-content-center">
            {% for teammate in collections.teammate %}
                {% if teammate.data.role != undefined %}
                    {% include 'layouts/teammate.njk' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>