<div class="block-dasher-play-now-container pt-3 pb-5">
    <h2 class="text-center block-dasher-play-now">
        Save the day now!
    </h2>
    <div class="block-dasher-play-button">
        <a href="https://slow-heat-index.itch.io/block-dasher">
            <img alt="Let's dash!" class="block-dasher-play-button-image">
        </a>
    </div>
</div>
