<div class="block-dasher-title-container">
    <div class="p-5"></div>
    <img id="block-dasher" src="img/block-dasher.png" class="w-75 h-auto d-block ms-auto me-auto" alt="Block Dasher">
    <h2 class="text-center block-dasher-subtitle">
        Evil non-cubic shapes are going to invade the world!
    </h2>
</div>

{% include 'index/block-dasher-content.njk' %}
{% include 'index/block-dasher-play.njk' %}