<div class="py-vh-2 container justify-content-center w-75 block-dasher-container">
    <div class="row my-vh-5">
        <div class="col-12 col-lg-6 order-lg-1">
            <div class="block-dasher-node-container">
                <img src="img/test0.png" class="w-100 h-auto">
            </div>
        </div>
        <div class="col-12 col-lg-6 order-lg-0">
            <div class="block-dasher-node-container">
                <h3 class="block-dasher-node-title">Title 1</h3>
                <p class="block-dasher-text">
                    Lorem fistrum papaar papaar a wan condemor diodeno torpedo. Diodenoo ese que llega sexuarl fistro
                    llevame al sircoo tiene musho peligro te voy a borrar el cerito mamaar no te digo trigo por no
                    llamarte Rodrigor sexuarl. Qué dise usteer va usté muy cargadoo está la cosa muy malar hasta luego
                    Lucas. A peich ese pedazo de quietooor diodeno. Benemeritaar se calle ustée te voy a borrar el
                    cerito condemor diodenoo.
                </p>
            </div>
        </div>
    </div>
    <div class="row my-vh-5">
        <div class="col-12 col-lg-6">
            <div class="block-dasher-node-container">
                <img src="img/test1.jpg" class="w-100 h-auto">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="block-dasher-node-container">
                <h3 class="block-dasher-node-title">Title 2</h3>
                <p class="block-dasher-text">
                    Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone
                    mizzenmast
                    quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey
                    doubloon
                    starboard grog black jack gangway rutters.
                </p>
            </div>
        </div>
    </div>
</div>