<div class="block-dasher-play-now-container">
    <h2 class="text-center block-dasher-play-now">
        Save the day now!
    </h2>
    <div class="d-flex justify-content-center pb-5">
        <iframe src="https://itch.io/embed/1249608?bg_color=388e3c&amp;fg_color=ffffff&amp;link_color=88ffff&amp;border_color=278736"
                width="1104" height="167" frameborder="0"><a href="https://slow-heat-index.itch.io/block-dasher">Block
                Dasher
                by Slow Heat Index, LuisTorres19, robertus_06, gaeqs, Carlos Chamizo Cano, albertosr173, javijones00,
                Darsay</a></iframe>
    </div>
</div>
