<div class="block-dasher-container-background">
    <div class="py-vh-2 container justify-content-center block-dasher-container">
        <div class="row my-vh-5">
            <div class="col-12 col-lg-6 order-lg-1">
                <div class="block-dasher-node-container">
                    <img src="img/block-dasher-0.png" class="w-100 h-auto block-dasher-image">
                </div>
            </div>
            <div class="col-12 col-lg-6 order-lg-0">
                <div class="block-dasher-node-container">
                    <h3 class="block-dasher-node-title">Welcome to the cubic world!</h3>
                    <p class="block-dasher-text">
                        Go on an adventure with you cubic friend and help him ask kings for help!
                    </p>
                    <p class="block-dasher-text">
                        In Block Dasher, you will solve different puzzles in many different environments, from a calm
                        garden full of trees and vegetation to a hot lava-filled volcano.
                    </p>
                </div>
            </div>
        </div>

        <div class="row my-vh-5">
            <div class="col-12 col-lg-6">
                <div class="block-dasher-node-container">
                    <img src="img/block-dasher-1.png" class="w-100 h-auto block-dasher-image">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="block-dasher-node-container">
                    <h3 class="block-dasher-node-title">Enjoy the peaceful gardens!</h3>
                    <p class="block-dasher-text">
                        Enjoy while you can to run through the gardens with total peace of mind, not all your adventure
                        will be so relaxing...
                    </p>
                    <p class="block-dasher-text">
                        If saving the world was an easy task, anyone could be a hero!
                    </p>
                </div>
            </div>
        </div>

        <div class="row my-vh-5">
            <div class="col-12 col-lg-6 order-lg-1">
                <div class="block-dasher-node-container">
                    <img src="img/block-dasher-2.png" class="w-100 h-auto block-dasher-image">
                </div>
            </div>
            <div class="col-12 col-lg-6 order-lg-0">
                <div class="block-dasher-node-container">
                    <h3 class="block-dasher-node-title">Survive the arid desert!</h3>
                    <p class="block-dasher-text">
                        Grab your bottle of water and head into the hot desert.
                        But be careful where you step as some sands move more than others...
                    </p>
                    <p class="block-dasher-text">
                        Survive and the rest of the worlds will be a breeze in comparison.
                    </p>
                </div>
            </div>
        </div>

        <div class="row my-vh-5">
            <div class="col-12 col-lg-6">
                <div class="block-dasher-node-container">
                    <img src="img/block-dasher-3.png" class="w-100 h-auto block-dasher-image">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="block-dasher-node-container">
                    <h3 class="block-dasher-node-title">Be careful on the beach!</h3>
                    <p class="block-dasher-text">
                        Who doesn't like to relax on a sunny tropical beach? Unfortunately, there is no time to relax.
                    </p>
                    <p class="block-dasher-text">
                        The fate of the world is in your hands, and those hungry sharks can place a big challenge.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>