@font-face {
  font-family: main;
  src: url("/font/main.woff");
}

@font-face {
  font-family: secondary;
  src: url("/font/secondary.woff");
}

@font-face {
  font-family: serious;
  src: url("/font/serious.woff");
}

body {
  letter-spacing: -.02rem;
}

.link-fancy {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.link-fancy .fill-svg {
  fill: currentColor;
}

.link-fancy:before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  transform-origin: left;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, $primary 0, $primary 25%, transparent 0, transparent 50%, $primary 0, $primary 75%, transparent 0, transparent);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 400% 1px;
  transition: background-position 0.8s ease-in-out;
}

.link-fancy:hover:before {
  background-position: 100%;
}

.navbar {
  background: $bg-nav !important;

  &:hover,
  &:active {
  }
}

.nav-button {
  color: rgba(0, 0, 0, 0.8);
  fill: rgba(0, 0, 0, 0.8);
  @include transition($nav-link-transition);
  @include transition($nav-fill-transition);

  &:hover,
  &:focus {
    color: #000000;
    fill: #000000;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    fill: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

.navbar-brand {
  font-family: serious, serif;
  font-size: 28px;
}


.nav-item {
  font-family: serious, serif;
  font-size: 24px;
}

.highlight-background {
  background: $bg-highlight;
  border-width: 20px;
  border-radius: 20px;
}

.main-container {
  position: relative;
  overflow: hidden;
  top: 0;
}

.main-spacer {
  height: 84px;
}

.main-video {
  width: 100%;
  min-width: 1000px;
  left: 50%;
}

@media (max-width: 1000px) {
  .main-video {
    transform: translate(calc(-500px + 50vw), 0%)
  }
}

.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  z-index: 50;

  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-title > img {
  width: 90%;
  height: auto;
  content: url("/img/logo-index.png");
}

@media (max-width: 600px) {
  .main-title > img {
    width: 80%;
    height: auto;
    content: url("/img/logo-index-small.png");
  }
}

.block-dasher-container-background {
  background: $bg-main-mid scroll, url("/img/block-dasher-background.png") fixed center no-repeat;
  background-size: cover;
}

.block-dasher-container {
}

.block-dasher-title-container {
  margin-top: -5px;
  background: $bg-main;
}

.block-dasher-title-container > img {
  content: url("/img/block-dasher.png");
}

@media (max-width: 1000px) {
  .block-dasher-title-container > img {
    content: url("/img/block-dasher-small.png");
  }
}

.block-dasher-subtitle {
  font-family: secondary, serif;
  font-size: 3vw;
  text-shadow: 2px 2px 0 #ffffff, 3px 2px 0 #ffffff;
}

@media (max-width: 1000px) {
  .block-dasher-subtitle {
    font-size: 30px;
    text-shadow: 2px 2px 0 #ffffff;
  }
}

.block-dasher-text {
  font-family: secondary, serif;
  font-size: 24px;
  text-shadow: 2px 2px 0 #ffffff, 3px 2px 0 #ffffff;
}

@media (max-width: 500px) {
  .block-dasher-text {
    font-size: 18px;
  }
}

.block-dasher-image {
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1%;
}

.block-dasher-node-container {
  margin: 1em 1em;
}

.block-dasher-node-title {
  font-family: secondary, serif;
  font-size: 45px;
  margin-bottom: 1em;
  text-shadow: 2px 2px 0 #ffffff, 4px 2px 0 #ffffff;
}

.block-dasher-play-now-container {
  background: $bg-main-out;
}

.block-dasher-play-now {
  font-family: secondary, serif;
  font-size: 6em;
  text-shadow: 2px 2px 0 #ffffff, 3px 2px 0 #ffffff;
}

.block-dasher-download {
  font-family: secondary, serif;
  font-size: 4em;
  text-shadow: 2px 2px 0 #ffffff, 3px 2px 0 #ffffff;
}

.block-dasher-play-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.block-dasher-play-button > a {
  display: flex;
  justify-content: center;
}

.block-dasher-play-button-image {
  max-width: 90%;
  height: auto;
  content: url("/img/block-dasher-button.png");
  &:hover {
    content: url("/img/block-dasher-button-pressed.png");
  }
  z-index: 20;
}

.download-pc-image {
  max-width: 90%;
  height: auto;
  content: url("/img/download-pc.bmp");
  &:hover {
    content: url("/img/download-pc-pressed.bmp");
  }
  z-index: 20;
}

.download-apple-image {
  max-width: 90%;
  height: auto;
  content: url("/img/download-apple.bmp");
  &:hover {
    content: url("/img/download-apple-pressed.bmp");
  }
  z-index: 20;
}

.download-android-image {
  max-width: 90%;
  height: auto;
  content: url("/img/download-android.bmp");
  &:hover {
    content: url("/img/download-android-pressed.bmp");
  }
  z-index: 20;
}

.about-container {
  background: $bg-about;
}

.about-title {
  font-family: serious, serif;
  font-size: 10em;
}

@media (max-width: 500px) {
  .about-title {
    font-size: 6em;
  }
}

.about-avatar-container {
  padding: 10px 40px;
}

.about-avatar-icon {
  border-radius: 50%;
  margin-bottom: 1em;

  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: brightness(50%);
  }
}

.about-avatar-name {
  font-family: serious, serif;
  font-size: 40px;
  text-align: center;
}

.about-avatar-role {
  font-family: serious, serif;
  font-size: 30px;
  text-align: center;
}

.about-avatar-text p {
  text-align: center;
}

.contact-container {
  background: $bg-contact;
}

.contact-title {
  font-family: serious, serif;
  font-size: 10em;
}

@media (max-width: 500px) {
  .contact-title {
    font-size: 6em;
  }
}

.contact-card {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 500px) {
  .contact-card {
    transform: perspective(525px) translateZ(0) rotateX(var(--dx)) rotateY(var(--dy));
    transition: transform 150ms linear 0s;
  }
}


.contact-card-inner {
  flex-direction: column;

  text-align: center;
  width: 18em;
  height: 10em;
  padding: 2em;

  border-color: $white;
  border-width: 10px;
  border-radius: 5px;
  background: $white;
}

.footer {
  background: $primary;
}

.footer-brand {
  font-family: serious, serif;
  font-size: 28px;
  color: $black;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

.w-200px {
  width: 250px !important;
}

.my-vh-1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.my-vh-2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.my-vh-3 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.my-vh-4 {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.my-vh-5 {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.my-vh-6 {
  margin-top: 14vh;
  margin-bottom: 14vh;
}

.py-vh-1 {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.py-vh-2 {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.py-vh-3 {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.py-vh-4 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.py-vh-5 {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.py-vh-6 {
  padding-top: 14vh;
  padding-bottom: 14vh;
}
