---
layout: layouts/default.njk
title: About us
eleventyNavigation:
    key: About
    order: 4
---
<hr/>
<p class="lead">
    We are a small team made up of Unversidad Rey Juan Carlos students.
</p>
<p class="lead">
    We are currently working on BlockDasher, a small casual game where you have to dash to reach the goal.
</p>
<hr/>

<h2 class="pb-2">Team composition</h2>
<h4 class="ps-4"><i data-feather="user"></i>  <strong>Gael Rial Costas:</strong> lead programmer.</h4>
<h4 class="ps-4"><i data-feather="user"></i>  <strong>Carlos Chamizo Cano:</strong> lead artist.</h4>
<h4 class="ps-4"><i data-feather="user"></i>  <strong>Ignacio Molina Casaus:</strong> programmer, game designer.</h4>
<h4 class="ps-4"><i data-feather="user"></i>  <strong>Javier Pérez Peláez:</strong> artist.</h4>
<h4 class="ps-4"><i data-feather="user"></i>  <strong>Alberto Sánchez Romero:</strong> artist, level designer.</h4>
<h4 class="ps-4"><i data-feather="user"></i>  <strong>Roberto Herencias Muñoz:</strong> artist.</h4>
<h4 class="ps-4"><i data-feather="user"></i>  <strong>Luis Torres Valera:</strong> programmer.</h4>