---
layout: layouts/default.njk
eleventyNavigation:
    key: Contact
    order: 5
---

<hr/>
<p class="lead">
    You can found us in <strong>Twitter</strong> and <strong>Itch.io</strong>.
    You can also send us a mail at <strong>slowheatindex@gmail.com</strong>
</p>
<hr/>

<div class="row mt-5 justify-content-between">
    {% include "snippets/contactlogos.njk" %}
</div>
