---
layout: layouts/blank.njk
eleventyNavigation:
key: Home
order: 0
---

<div class="main-container">
    <div class="main-title">
        <img src="img/logo-index.png" alt="Logo">
    </div>
    <video class="main-video" autoplay muted loop>
        <source src="video/main.mp4" type="video/mp4">
    </video>
</div>

<div class="block-dash-title-container">
    <div class="p-5"></div>
    <img src="img/block-dasher.png" class="w-75 h-auto d-block ms-auto me-auto" alt="Block Dasher">
    <h2 class="text-center block-dash-subtitle">
        Evil non-cubic shapes are going to invade the world!
    </h2>
</div>

<div class="py-vh-2 container justify-content-center w-75">
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-1">
            <img src="img/test0.png" class="w-100 h-auto">
        </div>
        <div class="col-12 col-lg-6 order-lg-0">
            <p class="block-dash-text">
                Lorem fistrum papaar papaar a wan condemor diodeno torpedo. Diodenoo ese que llega sexuarl fistro
                llevame al sircoo tiene musho peligro te voy a borrar el cerito mamaar no te digo trigo por no llamarte
                Rodrigor sexuarl. Qué dise usteer va usté muy cargadoo está la cosa muy malar hasta luego Lucas. A peich
                ese pedazo de quietooor diodeno. Benemeritaar se calle ustée te voy a borrar el cerito condemor diodenoo
                fistro de la pradera torpedo va usté muy cargadoo ahorarr hasta luego Lucas. Ese hombree ese que llega
                jarl diodeno llevame al sircoo condemor me cago en tus muelas caballo blanco caballo negroorl jarl.
                Tiene musho peligro por la gloria de mi madre de la pradera condemor me cago en tus muelas fistro
                diodenoo diodeno. Apetecan te va a hasé pupitaa te voy a borrar el cerito ese que llega quietooor. A wan
                diodeno ese hombree qué dise usteer pupita diodenoo papaar papaar torpedo.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="img/test1.jpg" class="w-100 h-auto">
        </div>
        <div class="col-12 col-lg-6">
            <p class="block-dash-text">
                Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone
                mizzenmast
                quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon
                starboard grog black jack gangway rutters.

                Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.
                Bring a
                spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout
                wherry
                doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.

                Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers
                gangplank
                crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas
                boatswain schooner gaff booty Jack Tar transom spirits.
            </p>
        </div>
    </div>
</div>
