---
layout: layouts/blank.njk
eleventyNavigation:
    key: Home
    order: 0
---

<div class="main-container">
    <div class="main-spacer"></div>
    <div class="main-title">
        <img alt="Logo">
    </div>
    <div class="main-title-background">
    </div>
    <video class="main-video" autoplay muted loop>
        <source src="video/main.mp4" type="video/mp4">
    </video>
</div>

{% include 'index/block-dasher.njk' %}
{% include 'index/about.njk' %}
{% include 'index/contact.njk' %}
