---
layout: layouts/blank.njk
eleventyNavigation:
    key: Home
    order: 0
---

<div class="row justify-content-center">
    <div class="col-8">
        <img src="/img/logo-index.png" alt="Logo" width="100%" height="auto">
    </div>
</div>

<div class="container">
    <div class="wrapper position-relative my-vh-2">
        <div class="container position-relative py-vh-4">
            <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
                <div class="col-12 col-lg-4 py-vh-1">
                    <h2 class="h2">BlockDasher</h2>
                    <p>Lorem fistrum mamaar al ataquerl jarl. Ahorarr mamaar al ataquerl a peich mamaar amatomaa al
                        ataquerl diodeno. Va usté muy cargadoo qué dise usteer hasta luego Lucas al ataquerl llevame al
                        sircoo. Amatomaa jarl no te digo trigo por no llamarte Rodrigor me cago en tus muelas papaar
                        papaar se calle ustée fistro está la cosa muy malar. </p>
                    <a class="col col-12 btn btn-primary" href="/blockDasher">Play on browser</a>
                </div>
                <iframe class="col-12 col-lg-8"
                        src="https://itch.io/embed/1249608?bg_color=161616&amp;fg_color=eeeeee&amp;link_color=fa5c5c&amp;border_color=161616">
                </iframe>
            </div>

            <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
                <div class="col-12 col-lg-4 py-vh-1">

                </div>
                <div class="col-12 col-lg-8">
                    <h2 class="h2">About us</h2>
                    <p>Lorem fistrum mamaar al ataquerl jarl. Ahorarr mamaar al ataquerl a peich mamaar amatomaa al
                        ataquerl diodeno. Va usté muy cargadoo qué dise usteer hasta luego Lucas al ataquerl llevame al
                        sircoo. Amatomaa jarl no te digo trigo por no llamarte Rodrigor me cago en tus muelas papaar
                        papaar se calle ustée fistro está la cosa muy malar. </p>
                </div>
            </div>

            <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
                <div class="col-12 col-lg-4 py-vh-1">
                    <h2 class="h2">Contact</h2>
                    <p>You can found us on <strong>Twitter</strong>, <strong>Itch.io</strong> and
                        <strong>YouTube</strong>. You can also send us a e-mail at
                        <strong>slowheatindex@gmail.com</strong></p>
                </div>
                <div class="col-12 col-lg-8 row justify-content-end">
                    {% include "snippets/contactlogos.njk" %}
                </div>
            </div>
        </div>
    </div>
</div>